CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# CLion
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#cmake-build-*

#Python
#  The following lines are for Python projects and should be adjusted according to your project structure.
#  If you are using virtual environments, you might want to keep the venv directory,
#  but if you are using a different directory for your virtual environment, you might want to
#  ignore that directory instead.
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
venv/

#ROS2
#  The following lines are for ROS2 projects and should be adjusted according to your project structure.
#  If you are using ament_cmake, you might want to keep the build and
#  install directories, but if you are using ament_python, you might want to ignore
#  the build and install directories as well.
build/
install/
log/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/

# Environment variables
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

.taskmaster
.github
.clinerules
AGENTS.md
CLAUDE.md
.env*
.roo*